<div class="w-full h-full flex flex-col justify-between px-12 py-12 bg-{{ background }}">
    <div class="w-full">
        <h2>{{ title }}</h2>
        <p class="text-3xl">
            {{ subtitle }}
        </p>
    </div>

    <div class="w-full">
        <p class="w-3/4 text-2xl">
            {{ paragraph }}
        </p>
    </div>
</div>