{% extends 'base.twig' %}
{% block header %}
    <header class="bg-purple-light w-full h-screen flex flex-wrap">
        <div class="w-full flex flex-wrap">
            <div class="w-1/2 px-8 text-red">ask</div>
            <div class="w-1/2 px-8 text-white flex flex-col justify-center">
                <div class="">
                    <p>
                        We support the Eindhoven<br/>
                        student life with knowledge,<br/>
                        money and an active network<br/>
                        of students and professionals.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full px-8 text-white">stehven</div>
    </header>
{% endblock %}
{% block content %}
    <section class="w-full h-screen flex flex-wrap">
        <div class="px-8 bg-green w-1/2"></div>
        <div class="bg-white w-1/2">
            <div class="siema-wrapper relative">
                <div class="siema-slider">
                    <div class="w-full h-screen bg-grey-dark"></div>
                    <div class="w-full h-screen bg-grey"></div>
                    <div class="w-full h-screen bg-grey-light"></div>
                </div>
                <div class="siema-controls absolute pin-r pin-b flex">
                    <button class="btn btn-prev w-12 h-12 bg-white"></button>
                    <button class="btn btn-next w-12 h-12 bg-black"></button>
                </div>
            </div>
        </div>
    </section>

    <section class="w-full h-screen flex flex-wrap">
        <div class="px-8 bg-red w-1/2">1</div>
        <div class="px-8 py-8 bg-purple w-1/2"></div>
    </section>
    
    <section class="w-full h-screen flex flex-wrap">
        <div class="bg-white w-1/2">
            <div class="siema-wrapper relative">
                <div class="siema-slider">
                    <div class="w-full h-screen bg-grey-dark"></div>
                    <div class="w-full h-screen bg-grey"></div>
                    <div class="w-full h-screen bg-grey-light"></div>
                </div>
                <div class="siema-controls absolute pin-r pin-b flex">
                    <button class="btn btn-prev w-12 h-12 bg-white"></button>
                    <button class="btn btn-next w-12 h-12 bg-black"></button>
                </div>
            </div>
        </div>
        <div class="px-8 bg-blue-light w-1/2">1</div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="bg-purple-light w-full h-screen flex flex-wrap flex-col justify-between">
        <div class="w-full px-8 bg-white" style="height: 30vh">ask stehven</div>
        <div class="w-full flex flex-wrap"  style="height: 60vh">
            <div class="w-1/2 px-8 py-8 text-red">
                <p>
                    Contact us if you have<br/>
                    a question, an idea or<br/>
                    if you want to become<br/>
                    part of Stehven.
                </p>
            </div>
            <div class="w-1/2 px-8 py-8 text-white text-right">
                <div class="">
                    <p>
                        ask@stehven.nl
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full px-8 bg-black text-white" style="height: 10vh">social</div>
    </footer>
{% endblock %}