<div class="siema-controls absolute h-16 w-32 overflow-hidden pin-r pin-b flex">
    <button class="btn btn-prev w-16 h-16">
        <img src="{{ theme.link }}/assets/images/arrow-left-black.svg"/>
    </button>
    <button class="btn btn-next w-16 h-16">
        <img src="{{ theme.link }}/assets/images/arrow-right-white.svg"/>
    </button>
</div>