<div class="w-full px-12 flex justify-end bg-black text-white" style="height: 10vh">
        <a target="_blank" class="w-12 h-12 my-6 ml-6" href="{{ social.meta('social_url_instagram') }}">
            <img src="{{ theme.link }}/assets/images/icon-instagram.svg" alt="">
        </a>
        <a target="_blank" class="w-12 h-12 my-6 ml-6" href="{{ social.meta('social_url_facebook') }}">
            <img src="{{ theme.link }}/assets/images/icon-facebook.svg" alt="">
        </a>
    </div>