/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
/* @tailwind preflight; */
@import "tailwindcss/preflight";

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

$green: #14B978;
$blue: #46D5FF;
$purple: #9854FC;
$red: #FD4635;


body, .smooth-container { 
  scroll-behavior: smooth;
  overflow: auto;
  overflow:initial; 
}

button,
button:active
button:focus {
  outline: none !important;
}

h1, h2, h3 {
  font-family: 'Druk', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 18rem;
  line-height: 0.85;
  margin-top: 0.25rem;
}

h2 {
  font-size: 9rem;
  line-height: 0.85;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 7rem;
  line-height: 0.85;
  margin-top: 0.25rem;
}

.font-druk {
  font-family: 'Druk', sans-serif;
}

.section {
  overflow: hidden;
}

.siema-slide,
.section {
  height: 100vh;
  min-height: 50vw;
  max-height: 100vw;
}

.h-1\/2 .siema-slide {
  height: 50vh;
  min-height: 25vw;
  max-height: 50vw;
}

.h-1\/4 .siema-slide {
  height: 25vh;
  min-height: 12.5vw;
  max-height: 25vw;
}
/* ---- */

#menu {
  top: -96px;
  transition: top 200ms ease;
}

#submenu > li {
  position: relative;
  transition: top 200ms ease;
  top: -96px;
}

#submenu > li:nth-child(1) {
  transition-delay: 50ms;
}
#submenu > li:nth-child(2) {
  transition-delay: 100ms;
}
#submenu > li:nth-child(3) {
  transition-delay: 150ms;
}
#submenu > li:nth-child(4) {
  transition-delay: 200ms;
}

#menu.active #submenu > li {
  top: 0;
}

#burger {
  cursor: pointer;
}

#burger > * {
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}

#menu.active #burger :nth-child(1) {
  transform: translate(0, 0.8125rem) rotate(45deg);
  transform-origin: 50%;
}
#menu.active #burger :nth-child(2) {
  transform: translate(1rem, 0);
  opacity: 0;
  transform-origin: 50%;
}
#menu.active #burger :nth-child(3) {
  transform: translate(0, -0.8125rem) rotate(-45deg);
  transform-origin: 50%;
}

#progress-bar {
  width: 3px;
  height: 140px;
  background: white;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

#progress-bar .progress {
  width: 3px;
  height: 3px;
  background: black;
  transition: top 200ms ease-out;
}

/* ---- */

.arrow-right {
  /* width: 0px;
  height: 0px; 
    width: 100%;
  height: 100vh;
  min-height: 50vw;
  max-height: 100vw;
  */
  width: 0;
  height: 0;
  border-bottom: 50vh solid transparent;
  border-left: 100% solid green;
}

/* ---- ASK */

.ask-option.active {
  color: white;
  background: $purple;
}

.step-option:nth-child(1),
.step-option:nth-child(3) {
  background: $blue;
  color: white;
}

.step-option:nth-child(2),
.step-option:nth-child(4) {
  background: $red;
  color: white;
}

.step-option.active {
  background: white;
  color: $red;
}