{% block html_head_container %}
    {% include 'header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
<div id="scroll-container">

{% include "partials/menu.twig" with {'menu': menu.get_items} %}

{% block header %}
{% endblock %}

{% block content %}
    Sorry, no content
{% endblock %}

{% block footer %}
{% endblock %}

{% include 'footer.twig' %}
{{ function('wp_footer') }}

</div>
</body>
</html>