{% block html_head_container %}
{% include 'header.twig' %}
{% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}} font-sans bg-black text-white text-xl" data-template="base.twig">

        {% include "components/progress-bar.twig" %}

        {% include "components/menu.twig" with {'menu': menu.get_items} %}

        {% block header %}
        {% endblock %}

        {% block content %}
        Sorry, no content
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% include 'footer.twig' %}
        {{ function('wp_footer') }}

</body>

</html>