<div class="siema-wrapper w-full relative" data-per-page="{{ options.perPage }}" data-loop="{{ options.loop }}">
    <div class="siema-slider">
        {% if slides %}
        {% for slide in slides %}
        <div class="siema-slide">
            {{ slide }}
        </div>
        {% endfor %}
        {% else %} <div class="siema-slide">
            <div class="w-full h-full bg-grey-dark"></div>
        </div>
        <div class="siema-slide">
            <div class="w-full h-full bg-grey-darker"></div>
        </div>
        <div class="siema-slide">
            <div class="w-full h-full bg-grey-light"></div>
        </div>
        <div class="siema-slide">
            <div class="w-full h-full bg-grey-darker"></div>
        </div>
        {% endif %}
    </div>
    {% include "components/siema-controls.twig" %}
</div>