/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

body, .smooth-container { scroll-behavior: smooth }

button,
button:active
button:focus {
  outline: none !important;
}

h1, h2 {
  font-family: 'Druk', sans-serif;
}

/* ---- RESPONSIVE FULL PAGE ---- */

#scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-destination: 50% 50%;
  scroll-snap-stop: always;
}

.section {
  transition: scroll-snap-align 800ms ease;
  scroll-snap-align: center;
  scroll-snap-coordinate: 50% 50%;
}

.siema-slide,
.section {
  width: 100%;
  height: 100vh;
  min-height: 50vw;
  max-height: 100vw;
}

/* ---- */

#menu {
  top: 0;
  transition: top 200ms ease;
}

/* ---- */

.arrow-right {
  /* width: 0px;
  height: 0px; 
    width: 100%;
  height: 100vh;
  min-height: 50vw;
  max-height: 100vw;
  */
  width: 0;
  height: 0;
  border-bottom: 50vh solid transparent;
  border-left: 100% solid green;
}